.main {
    height: 100vh;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: background-color 500ms ease-out;
  }
  
  .typewritter {
    white-space: nowrap;
    border-right: 3px solid rgb(255, 0, 242);
    overflow: hidden;
    animation: 
      typing 3s steps(30, end),
      blink-caret .75s step-end infinite;
  }
  
  .main-p {
    letter-spacing: 0.6rem;
  }
  
  .dark {
    background-color: rgb(5, 14, 21);
    color: white;
  }
  
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgba(35, 95, 148, 0.65); }
  }

  /* Icons */
  .icons {
    max-width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }

  .icon-pack {
    height: 24px;
    width: 24px;
    transition: transform 300ms ease-out;
  }

  .icon-pack:hover {
    transform: scale(1.2);
    cursor: pointer;
  }

 .icon-pack {
    color: black;
  }

  .dark .icon-pack {
    color: white;
  }

  @media (max-width: 480px) {
    .main-container {
      text-align: center;
    }
    .main-container h1 {font-size: 24px;}
    .main-container p {letter-spacing: 5px;}
  }