/* Navbar CSS */
li {
    list-style: none;
    padding: 20px;
    transition: background-color 500ms ease-out;
}

nav div h1 {
    padding: 15px;
    transition: background-color 500ms ease-out;
}

nav div h1:hover {
    cursor: pointer;
    background-color: white;
    color: black;
}

.list--wrapper li:hover {
    cursor: pointer;
    background-color: white;
    color: black;
}

.nav--wrapper {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: center;
    transition: background-color 500ms ease-out;
    border-bottom: 1px solid white;
    z-index: 1;
}

.list--wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Dark mode toggler */
.dark-mode-container {
    margin-left: 10px;
}

.bullet {
    display: flex;
    margin: auto;
    padding: 5px 0px;
    align-items: center;
    justify-content: flex-start;
    background-color: rgb(46, 46, 46);
    height: 20px;
    width: 40px;
    border-radius: 12px;
}

.circle {
    background-color: white;
    margin: 0;
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

.circle:hover {
    cursor: pointer;
}

.dark.bullet {
    justify-content: flex-end;
    border: 1px solid white;
    box-shadow: white;
    background-color: rgb(28, 28, 28);
}

.dark {
    background-color: rgb(28, 28, 28);
    color: white;
}