.header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-top: 20px;
    gap: 30px;
}

.skills-pack {
    height: 64px;
    width: 64px;
}

@media (max-width: 480px) {
    .items {
        grid-template-columns: repeat(1, 1fr);
    }

    .skills-pack {
        height: 64px;
        width: 64px;
    }
}