.window-btn {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
    position: relative;
    font-size: 16px;
    bottom: 0px;
    background: none;
    border: none;
    color: white;
    border-bottom: 1px solid white;
    padding: 10px 20px;
}

.window-btn:hover {
    cursor: pointer;
    animation: bouncing 1.1s ease-out infinite
}

.dark.window-btn {
    color: black;
    border-bottom: 1px solid black;
}

@keyframes bouncing {
    0% {bottom: 0px}
    50% {bottom: 5px}
}